<div>

  <div class="section hero row align-items-center mx-0">

    <div class="half sx col-sm-12 col-md-6">
      <div class="large">
        <div class="text">
          <h1>Benvenuto in Beauty&Co</h1>
          <p>Ciao a tutti, sono Maria Rossi, proprietaria della Beauty&Co. Ho diversi attestati in questo ambito che garantiscono la professionalitá e i risultati che avrete affidandovi a noi.
            In questo centro estetico vengono effettuati diversi tipi di trattamenti, dall'epilazione all'estetica, dal trucco ai massaggi, grazie anche alle mie due lauree.
          </p>
          <div>
            <button onclick="location.href='#contatti'"  class="btn btn-prenota btn-lg px-4">Prenota subito</button>
          </div>
        </div>
      </div>
    </div>

    <div class="half dx-hero col-sm-12 col-md-6">
      <div class="owner-container">
        <img class="owner" src="/assets/img/professionista.jpg" loading="lazy">
      </div>
    </div>

  </div>

  <div class="section white-section row align-items-center mx-0">

    <div class="half sx col-sm-12 col-md-6">
      <div class="img-container">
        <img src="/assets/img/massaggio.jpg" class="imgtech" loading="lazy">
      </div>
    </div>

    <div class="half dx col-sm-12 col-md-6">
      <div class="large">
        <div class="text">
          <h2>Massaggi</h2>
          <p>I massaggi sono pratiche terapeutiche che utilizzano varie tecniche di manipolazione dei tessuti molli del corpo per promuovere il benessere fisico e mentale.
            Possono alleviare lo stress, ridurre la tensione muscolare.
          </p>
        </div>
      </div>
    </div>

  </div>


  <div class="section wheat-section row align-items-center mx-0">

    <div class="half sx col-sm-12 col-md-6">
      <div class="large">
        <div class="text">
          <h2>Manicure</h2>
          <p>La manicure è un trattamento estetico per le mani e le unghie che include la pulizia, la cura delle cuticole, la limatura delle unghie, e l'applicazione di smalti.
            La manicure non solo migliora l'aspetto delle mani, ma favorisce anche la salute delle unghie.
          </p>
        </div>
      </div>
    </div>

    <div class="half dx col-sm-12 col-md-6">
      <div class="img-container">
        <img src="/assets/img/manicure.jpg" class="imgtech" loading="lazy">
      </div>
    </div>

  </div>


  <div class="section white-section row align-items-center mx-0">

    <div class="half sx col-sm-12 col-md-6">
      <div class="img-container">
        <img src="/assets/img/epilazione.jpg" class="imgtech" loading="lazy">
      </div>
    </div>

    <div class="half dx col-sm-12 col-md-6">
      <div class="large">
        <div class="text">
          <h2>Epilazione</h2>
          <p>L'epilazione è il processo di rimozione dei peli superflui dal corpo. Può essere temporanea, come con la ceretta e la depilazione con rasoio, o permanente, come con il laser o la luce pulsata.
          </p>
        </div>
      </div>
    </div>

  </div>

  <!--

  carosello articoli/shop

  -->

  <div class="section-end hero row  pt-5 pb-2 mx-0">

    <div class="col-xs-12 col-lg-3 opening">
      <h5>ORARIO DI APERTURA</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">Lunedí 9:00-12:30 | 14:00-19:30</li>
        <li class="nav-item mb-2">Martedí 9:00-12:30 | 14:00-19:30</li>
        <li class="nav-item mb-2">Mercoledí 9:00-12:30 | 14:00-19:30</li>
        <li class="nav-item mb-2">Giovedí 9:00-12:30 | 14:00-19:30</li>
        <li class="nav-item mb-2">Venerdí 9:00-12:30 | 14:00-19:30</li>
        <li class="nav-item mb-2">Sabato 9:00-12:30 | 14:00-19:30</li>
        <li class="nav-item mb-2">Domenica CHIUSO</li>
      </ul>
    </div>

    <div class="col-xs-12 col-lg-3 contact-menu">
      <div class="mb-lg-3">
        <div class="ps-xl-5">
          <h5 id="contatti">CONTATTI</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="recapito" href="https://wa.me/1234567890" target="_blank"><i class="bi bi-whatsapp"></i>Scrivici su WhatsApp</a>
            </li>
            <li class="nav-item mb-2">
              <a class="recapito" href="mailto:beautyandco@gmail.it"><i class="bi bi-envelope-at"></i>Scrivici per email</a>
            </li>
            <li class="nav-item mb-2">Roma, via Torino 5</li>
          </ul>
        </div>
      </div>

      <div class="ps-xl-5">
        <h5>Beauty&Co</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="/shop" class="nav-link p-0 text-body-secondary">Shop</a></li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-lg-3 map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.6909390544724!2d12.494275676602303!3d41.89950336407305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61a5a26c5295%3A0xfee37cb948409167!2sVia%20Torino%2C%205%2C%2000184%20Roma%20RM!5e0!3m2!1sit!2sit!4v1719913306529!5m2!1sit!2sit" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

</div>
