<footer class="border-top">
  <div class="row justify-content-around pt-0 pb-3 mx-0 mt-5">
    <div class="col-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img class="logo" src="/assets/img/logo.png" alt="">
      </a>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">© 2024 Company, Inc</div>

    <div class="col-3 d-flex justify-content-end">
      <div>
        <h5>Seguici su</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="social p-0"><i class="bi bi-instagram"></i>Beauty&Co_IG</a></li>
          <li class="nav-item mb-2"><a class="social p-0"><i class="bi bi-facebook"></i>Beauty&Co</a></li>
        </ul>
    </div>
    </div>
  </div>
</footer>
